{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <br>
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  <script src="https://giscus.app/client.js"
    data-repo="deli-isle/deliisle"
    data-repo-id="R_kgDOPFSFrQ"
    data-category="Announcements"
    data-category-id="DIC_kwDOPFSFrc4CsV79"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="0"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light_high_contrast"
    data-lang="en"
    crossorigin="anonymous"
    async>
  </script>
{{ end }}


