* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
  overflow-y: scroll;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar {
    background-image: url(/header.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50;
}

#navbar__logo {
    background-color: #fff;
    background-size: 100%;
    color: #131313;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80;
}

.navbar__links {
    background: #fff;
    color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    width: auto;
    white-space: nowrap;
}

.navbar__links:hover {
    background: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {

    .navbar {
        height: 80px;
    }
    
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        height: 80%;
        align-self: center;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin-block-end: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */

.gridcontainer {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-column-gap: 2rem;
}

.gridcontainerabout {
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 5%;
}

.hero {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20%;
    min-height: 65vh;
}

.heroabout {
    min-height: 65vh;
}

.aboutme {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20%;
    background-color: #fff;
}

.aboutme1{
    background-image:url('/rusfort.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutmeimg {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 960px) {

.hero {
    padding: 20px;
}

}

/* Sidebar CSS */

.sidebar {
    align-items: flex-start;
}

@media screen and (max-width: 960px) {

.expand-btn {
    opacity: 0;
}

}

/* Footer CSS */
.footer {
    width: 100%;
    height: 25vh;
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/footer.jpg);
    background-size: cover;
    background-position: 50% 55%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 50;
}

.footer__entries {
    color: #fff;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}


